.container.main_block.user_dashboard
	.row
		.col-sm-12.col-md-2
			%span.box-heading
				= current_user.name if current_user
			.div.profile_pic
			%br
			%span.box-heading
				= "friends"
			.div.friend
		.col-sm-12.col-md-9
			%span.box-heading
				= "My Trip"
			.div.trip_block