<div id="activity_gmap" class="gmaps"></div>
<%= act.place %>

<script type="text/javascript">
		var markers = [<%= act.lat%>, <%= act.long%>]
		var mapOptions = {
      center: new google.maps.LatLng(markers[0], markers[1]),
      zoom: 0,
      minZoom: 0,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("activity_gmap"), mapOptions);
    var infoWindow = new google.maps.InfoWindow();
    var lat_lng = new Array();
    var latlngbounds = new google.maps.LatLngBounds();
    for (i = 0; i < markers.length; i++) {
      var data = markers[i]
      var myLatlng = new google.maps.LatLng(data.lat, data.long);
      lat_lng.push(myLatlng);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: data.address
      });


      latlngbounds.extend(marker.position);
        (function (marker, data) {
        google.maps.event.addListener(marker, "click", function (e) {
          infoWindow.setContent(data.address);
          infoWindow.open(map, marker);
        });
        })(marker, data);
    }
    map.setCenter(latlngbounds.getCenter());
    map.fitBounds(latlngbounds);
	  
</script>