<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- start pages -->
		<div class="clearfix">
			<section class="panel panel-default">
				<header class="panel-heading clearfix">
					<div class="pull-left">
						<h4> Gallery Page </h4>	
					</div>	
					<div class="pull-right col-sm-3">
						<div class="">
							<div class="">
								<select class="form-control" id="filters">
									<option class="filter active" data-filter=".Museum-of-the-Queen,.Park-of-Place">All</option>
									<option class="filter" data-filter=".Museum-of-the-Queen">Museum-of-the-Queen</option>
									<option class="filter" data-filter=".Park-of-Place">Park of Place</option>
								</select>
							</div>
						</div>
					</div>
				</header>

				<aside class="clearfix ">
					<section class="panel-body" id="portfoliolist">
						<%@trip.trip_activities.each do |act| %>
							<% act.pictures.each do |act_pic|%>
								<div class="col-md-3 col-sm-4 col-xs-6 full-width-470 img Museum-of-the-Queen">
									<div class="thumbnail">
										<a href="<%= act_pic.try(:name).try(:url)%>" class="fancybox" rel="group1">
											<div class="hover-affect">
												<img src="<%= act_pic.try(:name).try(:url)%>" class="img-responsive ">
											</div>
											<h5><%= act.place %></h5>
										</a>
									</div>
								</div>
							<%end%>
						<%end%>
					</section>
				</aside>
			</section>
		</div>
	</section>
</section>
<!--main content end-->
