<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- start  contianer -->
        <div class="panel">
            <div class="panel-heading">
                <h4 class=""><b>My Trips</b></h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#year14">2014</a></li>
                    <li><a data-toggle="tab" href="#year15">2015</a></li>
                    <li><a data-toggle="tab" href="#year16">2016</a></li>
                </ul>

                <div class="tab-content">
                    <div id="year14" class="tab-pane fade in active">
                        <div class="">
                            <div class="table-responsive">
                            <div class="trip-detail-container">
                                <div class="trip-detail ">
                                    <div class="trip-item trip-heading">
                                        <h4><b>Country</b></h4>
                                    </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Date</b></h4>
                                        </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Flag</b></h4>
                                    </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Cover Picture</b></h4>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">London</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Oct 10 - Nov 1</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/uk-flag.png" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/london.png" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">India</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Nav 01 - Nov 10</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/flag-india_small.jpg" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/main-image.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="trip-detail-container">
                                <div class="trip-detail ">
                                    <div class="trip-item trip-heading">
                                        <h4><b>Country</b></h4>
                                    </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Date</b></h4>
                                        </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Flag</b></h4>
                                    </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Cover Picture</b></h4>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">Paris</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">May 01 - Jun 02</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/uk-flag.png" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/Glasgow Traffic.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">India</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;"> Jun 01 - Jun 20</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/flag-india_small.jpg" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/0012.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">London</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Jun 21 - Jun 30</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/uk-flag.png" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/main-image.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="year15" class="tab-pane fade">
                        <div class="">
                            <div class="trip-detail-container">
                                <div class="trip-detail ">
                                    <div class="trip-item trip-heading">
                                        <h4><b>Country</b></h4>
                                    </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Date</b></h4>
                                        </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Flag</b></h4>
                                    </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Cover Picture</b></h4>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">India</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">May 02 - 10 May</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/flag-india_small.jpg" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/Glasgow Traffic.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">Paris</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">May 10 - Jun 02</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/uk-flag.png" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/london.png" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">India</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Jun 05 - June 15</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/flag-india_small.jpg" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/main-image.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">London</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Jun 16 - Jun 25</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/uk-flag.png" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/main-image.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">Paris</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Jun 25 - Jun 30</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/uk-flag.png" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/london.png" alt="not found">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="year16" class="tab-pane fade">
                        <div class="">
                            <div class="trip-detail-container">
                                <div class="trip-detail ">
                                    <div class="trip-item trip-heading">
                                        <h4><b>Country</b></h4>
                                    </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Date</b></h4>
                                        </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Flag</b></h4>
                                    </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Cover Picture</b></h4>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">India</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">July 01 - Aug 05</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/flag-india_small.jpg" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/main-image.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">London</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Aug 06 - Aug 30</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/uk-flag.png" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/london.png" alt="not found">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="trip-detail-container">
                                <div class="trip-detail ">
                                    <div class="trip-item trip-heading">
                                        <h4><b>Country</b></h4>
                                    </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Date</b></h4>
                                        </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Flag</b></h4>
                                    </div>
                                    <div class="trip-item trip-heading">
                                        <h4><b>Cover Picture</b></h4>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">London</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Dec 01 - Dec 05</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/uk-flag.png" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/index.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">India</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Dec 05 - Dec 10</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/flag-india_small.jpg" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/main-image.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">London</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Dec 11 - Dec 18</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/uk-flag.png" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/london.png" alt="not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="trip-detail">
                                    <div class="trip-item">
                                        <a href="#;">India</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">Dec 18 - Dec 30</a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/flag-india_small.jpg" alt="not found">
                                        </a>
                                    </div>
                                    <div class="trip-item">
                                        <a href="#;">
                                            <img src="/assets/main-image.jpg" alt="not found">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end contianer -->
    </section>
</section>>
<!--main content end-->

<!-- Right Slidebar start -->
<div class="sb-slidebar sb-right sb-style-overlay">
    <h5 class="side-title">Online Customers</h5>
    <ul class="quick-chat-list">
        <li class="online">
            <div class="media">
                <a href="#" class="pull-left media-thumb">
                    <img alt="" src="img/chat-avatar2.jpg" class="media-object">
                </a>
                <div class="media-body">
                    <strong>John Doe</strong>
                    <small>Dream Land, AU</small>
                </div>
            </div><!-- media -->
        </li>
        <li class="online">
            <div class="media">
                <a href="#" class="pull-left media-thumb">
                    <img alt="" src="img/chat-avatar.jpg" class="media-object">
                </a>
                <div class="media-body">
                    <div class="media-status">
                        <span class=" badge bg-important">3</span>
                    </div>
                    <strong>Jonathan Smith</strong>
                    <small>United States</small>
                </div>
            </div><!-- media -->
        </li>

        <li class="online">
            <div class="media">
                <a href="#" class="pull-left media-thumb">
                    <img alt="" src="img/pro-ac-1.png" class="media-object">
                </a>
                <div class="media-body">
                    <div class="media-status">
                        <span class=" badge bg-success">5</span>
                    </div>
                    <strong>Jane Doe</strong>
                    <small>ABC, USA</small>
                </div>
            </div><!-- media -->
        </li>
        <li class="online">
            <div class="media">
                <a href="#" class="pull-left media-thumb">
                    <img alt="" src="img/avatar1.jpg" class="media-object">
                </a>
                <div class="media-body">
                    <strong>Anjelina Joli</strong>
                    <small>Fockland, UK</small>
                </div>
            </div><!-- media -->
        </li>
        <li class="online">
            <div class="media">
                <a href="#" class="pull-left media-thumb">
                    <img alt="" src="img/mail-avatar.jpg" class="media-object">
                </a>
                <div class="media-body">
                    <div class="media-status">
                        <span class=" badge bg-warning">7</span>
                    </div>
                    <strong>Mr Tasi</strong>
                    <small>Dream Land, USA</small>
                </div>
            </div><!-- media -->
        </li>
    </ul>
    <h5 class="side-title"> pending Task</h5>
    <ul class="p-task tasks-bar">
        <li>
            <a href="#">
                <div class="task-info">
                    <div class="desc">Dashboard v1.3</div>
                    <div class="percent">40%</div>
                </div>
                <div class="progress progress-striped">
                    <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="task-info">
                    <div class="desc">Database Update</div>
                    <div class="percent">60%</div>
                </div>
                <div class="progress progress-striped">
                    <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="task-info">
                    <div class="desc">Iphone Development</div>
                    <div class="percent">87%</div>
                </div>
                <div class="progress progress-striped">
                    <div style="width: 87%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                        <span class="sr-only">87% Complete</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="task-info">
                    <div class="desc">Mobile App</div>
                    <div class="percent">33%</div>
                </div>
                <div class="progress progress-striped">
                    <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-danger">
                        <span class="sr-only">33% Complete (danger)</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="task-info">
                    <div class="desc">Dashboard v1.3</div>
                    <div class="percent">45%</div>
                </div>
                <div class="progress progress-striped active">
                    <div style="width: 45%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar">
                        <span class="sr-only">45% Complete</span>
                    </div>
                </div>

            </a>
        </li>
        <li class="external">
            <a href="#">See All Tasks</a>
        </li>
    </ul>
</div>
<!-- Right Slidebar end --> 