<div class="show_trip">
  <%= render 'show_partial' %>
</div>

<script type="text/javascript">
	$(document).on("change",".trip-activity-sort", function(){
    var date = $("#activity_date option:selected").val();
    $.ajax({
     type: "GET",
     url: "/trips/<%= @trip.id %>",
     data: {date: date},
     dataType: "script"
    });
  });
</script>
