<div class="user-list">
	<%= render "search_conversation_user" %>
  <% @users.each_with_index do |user, index| %>
	  <tr> 
	  	<div class ="user-div " >
      	<td>
        	<%= link_to (image_tag(user.profile_picture.url,class: "img-circle",  :size => "30x30", :alt => "IMG", style: "margin-right: 5px;") +  user.name) , "#", class: "start-conversation","data-sid" => current_user.id, "data-rip" => user.id %>
      	</td>
	    </div>
	  </tr>
	<% end %>
</div>
<div class="chatting-area">
</div>