<div class="user-list">
   <%= render 'user_list' %>
</div>
<div class="chatting-area">
</div>

<!-- <script>
$(document).ready(function(){
  var auto_refresh = setInterval(function(){
    $.ajax({
     type: "GET",
      url: "/conversations",
     dataType: "js"
    });

  },30000);
  });
</script> -->