/ Footer
%footer.home_footer
  .row.full-width
    .small-12.medium-12.large-12.columns
      %span.about About
      %h4 Follow Me
      %ul.footer-links
        %li
          %a{:href => "#"} GitHub
        %li
          %a{:href => "#"} Facebook
        %li
          %a{:href => "#"} Twitter
        %li
          %a{:href => "#"} Instagram
        %li
          %a{:href => "#"} Dribbble
        %ul