
%header.header
  .container-fluid
    .navbar-header
      %b 
        %a.navbar-brand.blue_heading.profile_title{:href => "/"} Itinarite
    %ul.nav.navbar-nav.right_nav.navbar-right
      %li
        %a{:href => "/"}
          %span
          Home
      %li
        %a{:href => "/profile"}
          %span
          = current_user.name.capitalize if current_user.present?
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span
          Travel
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Upload a previous trip
          %li
            %a{:href => "#"} Create a new trip  
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span
          Setting
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to "Edit Profile", edit_user_registration_path if user_signed_in?
          %li
            = link_to "Sign Out", destroy_user_session_path if user_signed_in?