<script type="text/javascript">
     $(window).load(function(){
        <% if session[:first_sign_in] %>
          $("#first_sign_in_pop_up").modal('show');
          <% session[:first_sign_in] = nil %>
        <% end %>
    });
</script>


<div class="col-md-9 user-wall">
  <%= render 'user_dashboard/user_wall' %>
</div>
<div class="col-md-3">
    <div class="fb-timeliner">
        <h2 class="recent-highlight">Recent</h2>
        <ul>
            <li class="active"><a href="#">December</a></li>
            <li><a href="#">November</a></li>
            <li><a href="#">October</a></li>
            <li><a href="#">September</a></li>
            <li><a href="#">August</a></li>
            <li><a href="#">July</a></li>
            <li><a href="#">June</a></li>
            <li><a href="#">May</a></li>
            <li><a href="#">April</a></li>
            <li><a href="#">March</a></li>
            <li><a href="#">February</a></li>
            <li><a href="#">January</a></li>
        </ul>
    </div>
    <div class="fb-timeliner">
        <h2>2012</h2>
        <ul>
            <li><a href="#">August</a></li>
            <li><a href="#">July</a></li>
            <li><a href="#">June</a></li>
            <li><a href="#">May</a></li>
            <li><a href="#">April</a></li>
            <li><a href="#">March</a></li>
            <li><a href="#">February</a></li>
            <li><a href="#">January</a></li>
        </ul>
    </div>

    <div class="fb-timeliner">
        <h2>2011</h2>
        <ul>
            <li><a href="#">May</a></li>
            <li><a href="#">April</a></li>
            <li><a href="#">March</a></li>
            <li><a href="#">February</a></li>
            <li><a href="#">January</a></li>
        </ul>
    </div>
</div>

<!-- Right Slidebar start -->
<div class="sb-slidebar sb-right sb-style-overlay">
  <h5 class="side-title">Online Customers</h5>
  <ul class="quick-chat-list">
    <li class="online">
        <div class="media">
            <a href="#" class="pull-left media-thumb">
                <img alt="" src="/assets/chat-avatar2.jpg" class="media-object">
            </a>
            <div class="media-body">
                <strong>John Doe</strong>
                <small>Dream Land, AU</small>
            </div>
        </div><!-- media -->
    </li>
    <li class="online">
        <div class="media">
            <a href="#" class="pull-left media-thumb">
                <img alt="" src="/assets/chat-avatar.jpg" class="media-object">
            </a>
            <div class="media-body">
                <div class="media-status">
                    <span class=" badge bg-important">3</span>
                </div>
                <strong>Jonathan Smith</strong>
                <small>United States</small>
            </div>
        </div><!-- media -->
    </li>

    <li class="online">
        <div class="media">
            <a href="#" class="pull-left media-thumb">
                <img alt="" src="/assets/pro-ac-1.png" class="media-object">
            </a>
            <div class="media-body">
                <div class="media-status">
                    <span class=" badge bg-success">5</span>
                </div>
                <strong>Jane Doe</strong>
                <small>ABC, USA</small>
            </div>
        </div><!-- media -->
    </li>
    <li class="online">
        <div class="media">
            <a href="#" class="pull-left media-thumb">
                <img alt="" src="/assets/avatar1.jpg" class="media-object">
            </a>
            <div class="media-body">
                <strong>Anjelina Joli</strong>
                <small>Fockland, UK</small>
            </div>
        </div><!-- media -->
    </li>
    <li class="online">
        <div class="media">
            <a href="#" class="pull-left media-thumb">
                <img alt="" src="/assets/mail-avatar.jpg" class="media-object">
            </a>
            <div class="media-body">
                <div class="media-status">
                    <span class=" badge bg-warning">7</span>
                </div>
                <strong>Mr Tasi</strong>
                <small>Dream Land, USA</small>
            </div>
        </div><!-- media -->
    </li>
  </ul>
  <h5 class="side-title"> pending Task</h5>
  <ul class="p-task tasks-bar">
    <li>
        <a href="#">
            <div class="task-info">
                <div class="desc">Dashboard v1.3</div>
                <div class="percent">40%</div>
            </div>
            <div class="progress progress-striped">
                <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="task-info">
                <div class="desc">Database Update</div>
                <div class="percent">60%</div>
            </div>
            <div class="progress progress-striped">
                <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning">
                    <span class="sr-only">60% Complete (warning)</span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="task-info">
                <div class="desc">Iphone Development</div>
                <div class="percent">87%</div>
            </div>
            <div class="progress progress-striped">
                <div style="width: 87%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                    <span class="sr-only">87% Complete</span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="task-info">
                <div class="desc">Mobile App</div>
                <div class="percent">33%</div>
            </div>
            <div class="progress progress-striped">
                <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-danger">
                    <span class="sr-only">33% Complete (danger)</span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="task-info">
                <div class="desc">Dashboard v1.3</div>
                <div class="percent">45%</div>
            </div>
            <div class="progress progress-striped active">
                <div style="width: 45%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>

        </a>
    </li>
    <li class="external">
        <a href="#">See All Tasks</a>
    </li>
  </ul>
</div>
<!-- Right Slidebar end -->






<!-- Modal -->
<div id="first_sign_in_pop_up" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content site-features">
      <div class="modal-header informatin-box-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title info-title"><center>Please Read itinarite features </center></h4>
      </div>
      <div class="modal-body feature-list">
        <ul>
          <li> Click on News feed to show all Activities of you and your followings, you can make comment on perticular activities and see other user comments too. </li>
          <li> Click on My Follower to show list of all your follower users. </li>
          <li> Click on I'm Following to show list of all your following users and you can remove user to your following list by just simply clicking by unfollow button. </li>
          <li> Click on My Trips to show list of your trips, you can see more detail of your trip to click on that trip and also you can add comment on trip, upload images for trip activities etc.. </li>
          <li> Click on New trip to add your new trip, here you can add your trip, trip activities like morning, after-noon, evening activities. you can add any number on activities by clicking add more activities button present on this page. you can add images for your trip, you can add location of your trip and trip activities by simply search your location on google map or just drag and drop your location on google map. </li>
          <li> Click on Conversation to send message to other itinarite user by simply clicking on user name and if user online than you can make live conversation with them. </li>
        </ul>
      </div>
    </div>

  </div>
</div>