.container.main_block.user_dashboard
	.row
		.col-sm-12.col-md-12
			%table{:style => "width:100%"}
				%tr
					%th{:style => "width:150px"} 
						Name
					%th{:style => "width:150px"} 
						Email
				- @followings.each do |user|
					%tr
						%td{:style => "width:150px"}
							= user.name || "N/A"
						%td{:style => "width:150px"}
							= user.email
						