.main_block{
	min-height: 560px;
}
body{
  background-color: rgb(248,248,248);
  width: 100%;
}
.profile_picture{
	width:120px;
	height: 120px;
	border: solid;
  background-color: white;
}
.full-width {
  max-width: 1400px;
}

.home_footer .about{
  float: left;
  margin-top: 5px;
  margin-left: 150px;
  color: black;
  width: 200px;
}

.footer {
  background-color: #2980b9;
  text-align: center;
  color: #fff;
}

.header {
  background-color: rgb(148,220,248);
  text-align: left;
  color: #fff;
  height: 50px;
}

.header h4 {
  color: black;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 50px;

}
.home_footer{
  background-color: rgb(148,220,248);
  text-align: left;
  color: #fff;
}

.footer,.home_footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 400px;
}


.home_footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: left;
}


.footer, .home_footer p, .footer, .home_footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}


@media only screen and (min-width: 40.063em) {
  .footer, .home_footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}

.footer-links {
  list-style-type: none;
}

.footer-links li{
  display: inline-block;
}

.vertical-line {
  display: block;
  width: 1px;
  background-color:black;
  position:absolute;
  margin: 0px;
  height: 520px;
}
.login_page{
  margin-top: 30px;
}
.sign_in_left_panel{
  margin-left: 100px;
  margin-top: 150px;
}
.symbols{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
  color: black;
}
.login_page_line{
  display: inline-block;
  float: left;
  width: 80px;
  background-color:black;
  height: 1px;
  border: 1px solid black;
}
.or{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -10px;
  float: left;
}
.blue_heading{
  color: rgb(63,72,204);
}
.profile_title{
  font-size: 25px !important;
  font-weight: 200px;
}
.right_nav{
  padding-right: 120px;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    white-space: nowrap;
}
.user_dashboard{
  margin-top: 50px;
  background-color: rgb(248,248,248);
}
.profile_pic{
  width: 160px;
  min-height: 180px;
  border: 2px solid black;
}

.friend{
  width: 160px;
  min-height: 310px;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 10px;
}
.trip_block{
  border: 2px solid black;
  margin-bottom: 40px;
  min-height: 555px;
  width: 800px;
}
.box-heading{
  color: rgb(63,72,204);
  font-family: monospace,Georgia,serif;
  font-size: 16px;
  font-weight: bold;
}
.black_color{
  color: black;
}
.right_nav li > a{
  color: black;
}

.dropdown-menu{
   min-width: 86px !important;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav.open > li > a:focus {
  border: 1px solid;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background-color: rgb(148,220,248);
}

.navbar-nav > li > .dropdown-menu {
  max-width: 86px !important;
  min-width: 86px !important;
  border: 1px solid black !important;
  border-bottom-left-radius: 10% !important ;
  border-bottom-right-radius: 10% !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  border: 1px solid;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background-color: rgb(148,220,248);
} 
.dropdown-menu > li > a {
    font-size: 11px !important;
    white-space: normal !important;
}
.dropdown-menu > li:not(:last-child) > a:after{
  content: "";
  display: block;
  height: 1px;
  margin-left: -20px;
  width: 85px;
  background: black;
}

.image_link{
  background-color: black;
  color: white;
  font-weight: 700;
  opacity: 0.51;
  padding: 9px 26px 2px 36px;
  transition: outline-color 0.13s ease-out 0s;
}
.display_none{
  display:none;
}
.profile_pic:hover{
  display: block;
}
#preview img {
  float: right;
  margin-top: 21px;
  max-height: 100px;
  max-width: 100px;
}
.picture_block{
  width: 155px;
  height: 175px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.home_page{
  min-height: 555px;
}
#basic_map{
  height: 200px; 
  margin-bottom: 15px;
  border: 10px solid white;
}
.logo_image{
  height: 50px;
  margin-left: 15px;
  padding: 2px;
  width: 150px;
}
.logo_app{
  height: 50px;
  margin-left: -26px;
  margin-top: -15px;
  padding: 2px;
  width: 150px;
}
.box-heading hr {
  border-width: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
}
.side_link{
  height: 80px;
  background-color: white;
}
#tripblock{
  height: 300px; 
  margin-bottom: 15px;
  background-color: white;
}
.btn-xs, .btn-group-xs > .btn {
  margin-bottom: 10px;
}