.main_block{
	min-height: 560px;
}
.profile_picture{
	width:120px;
	height: 120px;
  background-color: white;
}

body.profile{
  background-color: rgb(233,235,238)
}
.full-width {
  max-width: 1400px;
}

.home_footer .about{
  float: left;
  margin-top: 5px;
  margin-left: 150px;
  color: black;
  width: 200px;
}

.footer {
  background-color: #2980b9;
  text-align: center;
  color: #fff;
}

.header {
  background-color: rgb(148,220,248);
  text-align: left;
  color: #fff;
  height: 50px;
}

.header h4 {
  color: black;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 50px;

}
.home_footer{
  background-color: rgb(148,220,248);
  text-align: left;
  color: #fff;
}

.footer,.home_footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 400px;
}


.home_footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: left;
}


.footer, .home_footer p, .footer, .home_footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}


@media only screen and (min-width: 40.063em) {
  .footer, .home_footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}

.footer-links {
  list-style-type: none;
}

.footer-links li{
  display: inline-block;
}

.vertical-line {
  display: block;
  width: 1px;
  background-color:black;
  position:absolute;
  margin: 0px;
  height: 520px;
}
.login_page{
  margin-top: 30px;
}
.sign_in_left_panel{
  margin-left: 100px;
  margin-top: 150px;
}
.symbols{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
  color: black;
}
.login_page_line{
  display: inline-block;
  float: left;
  width: 80px;
  background-color:black;
  height: 1px;
  border: 1px solid black;
}
.or{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -10px;
  float: left;
}
.blue_heading{
  color: rgb(63,72,204);
}
.profile_title{
  font-size: 25px !important;
  font-weight: 200px;
}
.right_nav{
  padding-right: 120px;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    white-space: nowrap;
}
.user_dashboard{
  background-color: rgb(255,255,255);
}
.profile_page{
  background-color: rgb(233,235,238);
  padding: 20px;
}
.profile_pic{
  width: 160px;
  min-height: 180px;
  padding-top: 5px;
}

.friend{
  width: 160px;
  min-height: 310px;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 10px;
}
.trip_block{
  border: 2px solid black;
  margin-bottom: 40px;
  min-height: 555px;
  width: 800px;
}
.box-heading{
  color: rgb(63,72,204);
  font-family: monospace,Georgia,serif;
  font-size: 15px;
  font-weight: bold;
}
.black_color{
  color: black;
}
.right_nav li > a{
  color: black;
}

.dropdown-menu{
   min-width: 86px !important;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav.open > li > a:focus {
  background-color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu.open > li > a:focus{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.dropdown-menu > li > a {
    font-size: 11px !important;
    white-space: normal !important;
}

.image_link{
  background-color: black;
  color: white;
  font-weight: 700;
  opacity: 0.51;
  padding: 9px 29px 2px 36px;
  transition: outline-color 0.13s ease-out 0s;
}
.display_none{
  display:none;
}
.profile_pic:hover{
  display: block;
}
#preview img {
  float: right;
  margin-top: 21px;
  max-height: 100px;
  max-width: 100px;
}
.picture_block{
  width: 160px;
  height: 175px;
  background-color: white;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.home_page{
  min-height: 555px;
}
#basic_map{
  height: 200px; 
  padding: 0px;
}
.google_map{
  border: 2px solid white;
  height: auto;
  width: auto;
}
.logo_image{
  height: 50px;
  margin-left: 15px;
  padding: 2px;
  width: 160px;
  background-color: white;
}
.logo_app{
  height: 50px;
  margin-left: 40px;
  margin-top: -15px;
  padding: 0px;
  width: 160px;
  background-color: white;
}
.box-heading hr {
  border-width: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
}
.side_link{
  min-height: 150px;
  background-color: white;
  padding-left: 8px;
}
#tripblock{
  min-height: 300px; 
  background-color: white;
  font-size: 12px;
}
.btn-xs, .btn-group-xs > .btn {
  margin-bottom: 10px;
}
.navbar-header{
  background-color: white;
  padding-left: 0px;
}
.navbar-brand{
  margin-left: -40px;
  padding-top:15px;
  background-color: white;
}
.left_side_block{
  background-color: rgb(233,235,238);
  padding-bottom: 50px;
}
.activity_user_pic{
  width: 50px;
  height: 50px;
  padding: 8px;
}
.panel {
   /* background: #f2f2f2 none repeat scroll 0 0;*/
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    color: #333;
    padding: 1.25rem;
}
.profile-info{
    padding-top: 1.50rem;
    background: #f2f2f2 none repeat scroll 0 0;
    margin-bottom: 1.25rem;
    border: none!important;
}
.trip_area{
  padding: 0px;
}
.fu_link{
  font-size: 15px !important;
}
.ui-datepicker-title{
  color:black;
}

#trip_error_explanation{
  color: red;
  margin-left: 15px;
}

.entire_row_clickable tr{
  cursor: pointer;
}
.location-suggestin{
  font-family: sans-serif;
  font-size: 15px;
  margin: 0 0 10px;
  text-align: left;
}
.trip_desc{
  font-weight: bold;
}
h3 > .activity_notes{
  font-size: 14px;
}

ul.ui-autocomplete{
  padding-top: 20px;
  background-color: white;
  font-weight: 12px;

}
.UTable{
    width:100%; 
    margin-top: 20px;
}
.UTable td{ 
  padding:7px;
}

.img-user{
  padding-right: 10px;
  width: 70px;
}
.user-list{
  background-color: white;
  border: 4px solid azure;
  margin-left: 10px;
  min-height: 800px;
  padding: 11px 0 8px 20px;
  width: 200px;
  float: left;
}
.chatting-area{
  background-color: white;
  border: 4px solid azure;
  float: left;
  margin-left: 10px;
  min-height: 800px;
  padding-left: 10px;
  min-width: 800px;
}

.chat-box-head .chat-box-title{

}
.chat-rec-title{
  font-size: 25px;
  font-weight: bold;
}
.chat-box-head > .chat-box-title > .fa-comments{
  font-size: 25px;
  margin-right: 20px;
}

.chat-img{
  float: left;
}
.chat-img img{
  width: 30px;
  height: 30px;
}
.chat-content{
  padding-bottom: 8px;
}
.chat-content li {
  list-style: none;
  padding-left: 12px;
}
.chatbox-message-content{
  float: left;
  padding-left: 10px;
}
.chatboxtextarea{
  width: 770px;
}

.site-features{
  padding:20px;
    width:710px;
    position:relative;
    color: black;
    background-color: white;
}
.feature-list ul li{
  font-weight: 600;
  font-size: 16px;
  color:grey;
  margin-bottom: 5px;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: justify;

}
.feature-list ul li:before{
  content: "\00BB \0020";  
}
